<app-header></app-header>
  <div class="container">
      <div>
        <h4 style="margin-left: -55px;margin-top:23px;text-align:left;font-family:Open Sans Regular;font-weight:100;font-size: 14px;color:black">Welcome, {{userName}}! Please select an application</h4>
      </div>
  </div>
  <div class="space"></div>
    <div class="container" style="width: 986px; margin-left: 188px;">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
              <a type="button" class="span3 btn-block" routerLink="/searchModule" [routerLinkActive]="['active']">
              <img src="../assets/images/Picture1.png" alt="Path to SDTM" style="width: 100px;height:100px;">
              </a>
            </div>
        </div>
        <div class="panel-footer"><label>Path to SDTM</label></div>
       </div>
       <div class="col-xs-12 col-sm-3">
          <div class="panel panel-default">
              <div class="panel-body">
                <a type="button" class="span3 btn-block" routerLink="/dataQuality" [routerLinkActive]="['active']">
                <img src="../assets/images/Picture2.png" alt="Path to SDTM" style="width: 100px;height:100px;">
                </a>
              </div>
          </div>
          <div class="panel-footer"><label>Data Quality</label></div>
         </div>
         <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                  <a type="button" class="span3 btn-block" >
                  <img src="../assets/images/Picture3.png" alt="Data Quality" style="width: 100px;height:100px;">
                  </a>
                </div>
            </div>
            <div class="panel-footer"><label>Medical Monitoring</label></div>
           </div>
           <div class="col-xs-12 col-sm-3">
              <div class="panel panel-default">
                  <div class="panel-body">
                    <a type="button" class="span3 btn-block" >
                    <img src="../assets/images/Picture4.png" alt="Path to SDTM" style="width: 100px;height:100px;">
                    </a>
                  </div>
              </div>
              <div class="panel-footer"><label>Project and Portfolio Management</label></div>
             </div>
     </div>
     <div class="space"></div>
     <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                  <a type="button" class="span3 btn-block" >
                  <img src="../assets/images/Picture5.png" alt="Path to SDTM" style="width: 100px;height:100px;">
                  </a>
                </div>
            </div>
            <div class="panel-footer"><label>Integrated Data Review Platform</label></div>
           </div>
           <div class="col-xs-12 col-sm-3">
              <div class="panel panel-default">
                  <div class="panel-body">
                    <a type="button" class="span3 btn-block" >
                    <img src="../assets/images/Picture6.png" alt="Path to SDTM" style="width: 100px;height:100px;">
                    </a>
                  </div>
              </div>
              <div class="panel-footer"><label>Study Designer</label></div>
             </div>
             <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <a type="button" class="span3 btn-block" >
                      <img src="../assets/images/Picture7.png" alt="Path to SDTM" style="width: 100px;height:100px;">
                      </a>
                    </div>
                </div>
                <div class="panel-footer"><label>CTMS Analytics</label></div>
               </div>
               <div class="col-xs-12 col-sm-3">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <a type="button" class="span3 btn-block" >
                        <img src="../assets/images/Picture8.png" alt="Path to SDTM" style="width: 100px;height:100px;">
                        </a>
                      </div>
                  </div>
                  <div class="panel-footer"><label>Submission Dataset Validation</label></div>
                 </div>
     </div>

   </div>
