<div>
  <ul class="nav nav-tabs padding-6 tab-color-blue background-blue navigation"
    id="myTab4">
    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="/sdtmHome"
      style="background-color: white;width: 70px;padding-left: 20px">Home</a>
    </li>
    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="studySetup"
      style="background-color: white;padding-left: 20px ">Study
        Setup</a></li>

    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="businessRules"
      style="background-color: white; ">Business
        Rule Configuration</a></li>

    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="jobExecution"
      style="background-color: white;padding-left: 20px ">Job
        Execution</a></li>
  </ul>
</div>