<div>
  <ul class="nav nav-tabs padding-6 tab-color-blue background-blue"
    id="myTab4">
    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="/sdtmHome"
      style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width:60px;cursor: pointer">Home</a>
    </li>
    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="studySetup"
      style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 143px">Study
        Configuration</a></li>

    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="businessRules"
      style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 183px">Business
        Rule Configuration</a></li>

    <li [routerLinkActive]="['active']"><a data-toggle="tab"
      routerLink="jobExecution"
      style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 110px">Job
        Execution</a></li>
  </ul>
</div>