
.k-drag-clue, .k-grid-add-row, .k-grid-footer, .k-grid-header, .k-grid-toolbar, .k-grouping-header {
    color: #656565;
    background-color: #f6f6f6;
  }
.nav-tabs.tab-color-blue[_ngcontent-c1] > li[_ngcontent-c1] > a[_ngcontent-c1],
 .nav-tabs.tab-color-blue[_ngcontent-c1] > li[_ngcontent-c1] > a[_ngcontent-c1]:focus {
 }
 
 		