<body class="no-skin" style="line-height: 0">

	<div id="navbar" class="navbar navbar-default ace-save-state">
		<h3 class="col-sm-8"
			style='font-size: 18px; margin-top: 16px; margin-bottom: -2px; width: 100.666%; color: white; text-align: left; font-family: Open Sans Regular'>
			<span style="color: black; font-size: 20px;"> <img
				class="pull-left" style="margin-top: -6px; width: 35px;"
				src="assets/images/NewLogoImg.png" alt="Logo" /> &nbsp;ClinApps
			</span> 
			<span
				style="color: black; font-family: Open Sans Regular; font-weight: 100; font-size: 16px;">-
				Path to SDTM</span> 
			<span class="input-icon"
				style="padding-bottom: 6px; margin-left: 709px"> <input
				type="text" placeholder="Search ..." class="nav-search-input"
				id="nav-search-input" autocomplete="off" /> <i
				class="ace-icon fa fa-search nav-search-icon"></i>
			</span> 
			<span style="padding-left: 9px; padding-top: 20px; color: #E4E6E9">
				<i style="font-size: 22px" class="ace-icon fa fa-gear"></i>
			</span> 
			<span style="padding-left: 9px; color: #E4E6E9"> <i
				style="font-size: 22px" class="menu-icon fa fa-bell"></i>
			</span> 
			<span dropdown
				style="padding-bottom: 3px; margin-top: 5px; padding-top: 20px">
				<button dropdownToggle type="button" class="dropdown-toggle"
					style="background-color: white; border-color: white; border-width: 0px">
					<img class="pull-right"
						style="width: 30px; margin-left: 5px; margin-bottom: -8px;"
						src="assets/images/avatars/UserImage1.png" />
				</button>
				<ul *dropdownMenu class="dropdown-menu pull-right" role="menu">
					<li role="menuitem"><a class="dropdown-item" href="#">{{userName}}</a></li>
					<li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
				</ul>
			</span>
		</h3>
	</div>

	<div class="main-container ace-save-state" id="main-container">
		<div>
			<ul class="nav nav-tabs padding-6 tab-color-blue background-blue"
				id="myTab4">
				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/home"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width:60px">Home</a>
				</li>
				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/searchModule"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 143px">Study
						Configuration</a></li>

				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/busRules"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 183px">Business
						Rule Configuration</a></li>

				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/job"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 110px">Job
						Execution</a></li>
			</ul>
		</div>

		<hr
			style="margin-top: 1px; margin-bottom: 0px; border-top: 4px solid #074982;" />

		<div class="panel panel-default"
			style="margin-left: 6px; border-radius: 10px; border-width: 1px; width: 99%; margin-top: 5px; padding-bottom: 3px; background: white;">
			<h3 class="row-label"
				style="text-align: left; width: 90%; font-family: Open Sans; font-size: 13px">
				<img class="pull-left" style="margin-top: 0px; width: 35px;"
					src="assets/images/JobExecution.png" alt="Logo" />&nbsp; Job
				Execution<br> &nbsp;&nbsp;
				<b *ngIf="(loading)" 
				style="text-align: left; width: 90%; font-family: Open Sans; font-size: 15px">
				{{studyInHeader}}</b>
			</h3>
			<img class="pull-right" style="width: 32px; margin-top: -40px;"
				data-toggle="tooltip" title="Add" src="assets/images/AddStudy.png"
				alt="Add" /> 
			<img class="pull-right"
				style="width: 32px; margin-top: -40px;margin-right:30px" data-toggle="tooltip"
				title="Download" src="assets/images/studyDownload.png"
				alt="Download" />&nbsp; 
			<img class="pull-right"
				style="width: 32px; margin-top: -40px;margin-right:60px" data-toggle="tooltip"
				title="Upload" src="assets/images/NewNote.png" alt="Import" />&nbsp;
		    <a type="button" (click)="refresh(searchJob,selectedItems)">
			<img class="pull-right" style="width: 32px; margin-top: -40px;margin-right:90px"
				data-toggle="tooltip" title="Refresh"
				src="assets/images/Refresh.png" alt="Refresh" />
			</a>
				&nbsp;
			
		</div>


		<!--  
   
   <div class="panel panel-default" style="margin-left: 6px;border-radius: 10px;border-width: 1px;width: 99%;margin-top: 5px;padding-bottom: 3px;background: white;">
          <h3 class="row-label" style="text-align:left;width:90%;font-family:Open Sans Regular;font-size:14px">
            <img class="pull-left" style="margin-top: -10px;width: 35px;" src="assets/images/JobExecution.png" alt="Logo" />&nbsp;
            <b>Job Execution</b>
            <span>
              <img class="pull-right" style="margin-top: -3px;width: 30px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Refresh" src="assets/images/Refresh.png" alt="Refresh" />&nbsp;
            </span>
			<span>
              <img class="pull-right" style="margin-top: -3px;width: 30px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Import" src="assets/images/NewNote.png" alt="Import" />&nbsp;
            </span>
            <span>
              <img class="pull-right" style="margin-top: -3px;width: 30px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Download" src="assets/images/studyDownload.png" alt="Download" />&nbsp;
            </span>
            <span>
              <img class="pull-right" style="margin-top: -3px;width: 30px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Add" src="assets/images/AddStudy.png" alt="Add" />&nbsp;
            </span> 
 
   </h3>
   </div>
   -->
		<div class="panel panel-default"
			style="height: 395px; margin-left: 6px; border-radius: 10px; border-width: 1px; width: 99%; margin-top: 2px; padding-bottom: 3px; background: white;">
			<div *ngIf="!(loading) && !(hideInstructions)">

				<h3 class="row-label"
					style="margin-top: 7px; text-align: left; font-family: Open Sans Regular; font-size: 12px; width: 90%;">
					Select a study to see job execution details
					<!-- Filtered by -->
					<!--  <a class="float:right" style="margin-right: -111px;padding-top: 0px;padding-bottom: 5px;float: right;color: #074982;font-family: Open Sans Regular;font-size: 12px;"><b>Clear all Filters</b></a>-->
				</h3>
			</div>
			<hr *ngIf="!(loading)" style="margin-top: -6px; border-width: 2px;" />

			<div *ngIf="(loading)" style="margin-top: 5px">
				<!-- class="pull-right" style="margin-top: 7px;text-align:left;font-family:Open Sans Regular;font-size:12px;width:90%;"> -->

				<a type="button" (click)="runForAllDomains()"> 
				
				<img *ngIf="!(allDomainsLive) || (allDomainsLive && jobStatus == 'job is completed')" 
					src="../assets/images/Run.png" alt="Run All Selected"
					data-toggle="tooltip" title="Run All Selected"
					style="width: 25px; height: 25px; margin-left: 1135px">
				</a>
				<a *ngIf="allDomainsLive" 
				    style="width: 25px; height: 25px;"> 
				    <i class="fa fa-spinner fa-spin " style="margin-left: 1135px"></i>
					
				</a>
				&nbsp;
					<h3
						style="font-family: Open Sans Regular; font-size: 12px; color: black; padding-right: 20px; margin-top: 5px"
						class="pull-right">All selected</h3>
			</div>
			<hr *ngIf="(loading)" style="margin-top: 6px; border-width: 2px;" />

			<a href="#" class="menu-toggler invisible" id="menu-toggler"
				data-target="#sidebar"></a>
			<div id="sidebar" class="sidebar responsive-min ace-save-state">
				<ul class="nav nav-list">
					<li><a href="#" class="dropdown-toggle" style="color: #074982" onclick="return false">
							<i class="menu-icon fa fa-filter"></i> <span class="menu-text">
								<!-- <a href=""
								style="font-family: Open Sans Regular; font-size: 12px; color: #074982"><b>Filter</b></a> -->
								<span style="font-family:Open Sans Regular;font-size:12px;color:#074982" ><b>Filter</b></span>
						</span> <!-- <b class="arrow fa fa-angle-down"></b> -->
					</a>

						<form name="jobForm" #f="ngForm" novalidate>
							<fieldset>
								<div class="" style="background-color: white;">
									<div tyle="overflow:auto; width:200px;height: 304px;"
										class="tab-pane in active">
										
										<div class="nav nav-tabs-flt padding-6"
											sytle="border-bottom: 0px;">
											<ul class="nav  nav-tabs" style="border-bottom: 0px;">
												<li style="border-bottom: 0px;"><a data-toggle="tab"
													(click)="therapeuticAreaDropdown()"
													style="margin-top: 9px; margin-left: 10px; margin-bottom: 6px; border-bottom: 0px; padding-top: 3px;
													color: black; width: 178px; background-color: #E4E6E9; height: 24px; text-align: left; 
													font-family: Open Sans Regular; font-size: 12px;">
														Therapeutic Area<span class="pull-right"><i
															class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
												</a></li>
											</ul>
											<div *ngIf="therapeuticAreaShowOptions" class="dropdown-container"
												style="border-bottom: 0px; margin-top: 7px; margin-left: 10px; 
												font-family: Open Sans Regular;
												 font-size: 12px; width: 89%; height: 35px;"
												id="form-field-select-1">
												 <select class="form-control"  id="form-field-select-1" 
												 name="therapeuticArea" [(ngModel)]="searchJob.therapeuticArea" ><!--(change)="filterStudyIds($event.target.value);">  -->
                                            <option value="undefined" selected disabled style="display: none;">Choose</option>
                                            <option value="all">--All--</option>
                                            <option *ngFor="let area of therapeuticAreas" value="{{area.therapeuticArea}}">{{area.therapeuticArea}}</option>
                                        </select>

											</div>
										</div>
						<!-- CODE FOR STUDY ID DROPDOWN 
										<div class="nav nav-tabs-flt padding-6"
											sytle="border-bottom: 0px;">
											<ul class="nav  nav-tabs" style="border-bottom: 0px;">
												<li style="border-bottom: 0px;"><a data-toggle="tab"
													(click)="drp()"
													style="margin-top: 9px; margin-left: 10px; margin-bottom: 6px; border-bottom: 0px; padding-top: 3px; color: black; width: 178px; background-color: #E4E6E9; height: 24px; text-align: left; font-family: Open Sans Regular; font-size: 10px;">
														Study ID<span class="pull-right"><i
															class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
												</a></li>
											</ul>
											<div *ngIf="drpSelected" class="dropdown-container"
												style="border-bottom: 0px; margin-top: 7px; margin-left: 23px; 
												font-family: Open Sans Regular; font-size: 12px; width: 76%; height: 35px;"
												id="form-field-select-1">
												 
												<select class="form-control" id="form-field-select-1"
													name="study" [(ngModel)]="searchJob.studyId" >
													<option value="undefined" disabled selected
														style="display: none;">Choose</option>
													<option *ngFor="let studyId of studyIds"
														value="{{studyId}}">{{studyId}}</option>
												</select>

											</div>
										</div> -->

										<!-- Second dropdrown -->
										<div class="nav nav-tabs-flt padding-6"
											sytle="border-bottom: 0px;">
											<ul class="nav  nav-tabs" style="border-bottom: 0px;">
												<li style="border-bottom: 0px;"><a data-toggle="tab"
													(click)="studyTitleDropdown()"
													style="margin-top: 9px; margin-left: 10px; margin-bottom: 6px; border-bottom: 0px;
													 padding-top: 3px; color: black; width: 178px; background-color: #E4E6E9; height: 24px;
													  text-align: left; font-family: Open Sans Regular; font-size: 12px;">
														Study Title <b style="color:red">&nbsp;*</b><span class="pull-right"><i
															class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
												</a></li>
											</ul>
											<div *ngIf="studyTitleShowOptions" class="dropdown-container"
												style="border-bottom: 0px; margin-top: 7px; margin-left: 10px; 
												font-family: Open Sans Regular; font-size: 12px; width: 89%; height: 35px;"
												id="form-field-select-1">
												<select class="form-control" id="form-field-select-1"
													name="study" [(ngModel)]="searchJob.study" (ngModelChange)="searchJobExecution(searchJob,selectedItems)">
													<option value="undefined" disabled selected
														style="display: none;">Choose</option>
													<option *ngFor="let title of studyTitles" value="{{title}}">{{title}}</option>
												</select>

											</div>
										</div>

										<div>

											<!-- <button (click)="searchJobExecution(searchJob,selectedItems)"
												class="btn btn-success"
												style="font-size: 12px; font-family: Open Sans Regular">Apply</button>
											&nbsp; -->
											<button (click)="reset(searchJob,selectedItems,f)"
												class="btn btn-success"
												style="margin-top: 7px;font-size: 12px; font-family: Open Sans Regular">Clear</button>


										</div>
										<div class="space"></div>

									</div>
								</div>
							</fieldset>
						</form></li>
				</ul>
				<!-- /.nav-list -->
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="row" style="margin-top: -23px;">
							<table class="table">
								<thead>
									<tr>
										<td> <!-- *ngIf="loading"--><input type="checkbox" /></td>
										<td>SDTM Domain</td>
										<td>Last Run</td>
										<td>Status</td>
										<td>Message</td>
										<td>Actions</td>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of data">
										<td><input type="checkbox" /></td>
										<td style="text-align: left;">{{item.domain}}</td>
										<td>{{item.job_end_timestamp}}</td>
										<td>{{item.job_status}}</td>
										<td style="text-align: left;">{{item.message}}</td>
										<td>
										<a *ngIf="(!item['isLive'] && !allDomainsLive) || (item['isLive'] && item['jobStatus']=='job is completed')" type="button"
											(click)="actionOnJobExecution(item,'Run')" > <img
												src="../assets/images/Run.png" alt="Run"
												style="width: 25px; height: 25px;"> &nbsp;
										</a> 
										<a *ngIf="item['isLive'] || (!item['isLive'] && allDomainsLive)" type="button"
											style="width: 25px; height: 25px;"> <i
												class="fa fa-spinner fa-spin"></i> &nbsp;
										</a> 
										<!-- <a *ngIf="item['isLive'] && item['jobStatus']=='job is completed'" type="button"
											(click)="actionOnJobExecution(item,'Run')"> <img
												src="../assets/images/Run.png" alt="Run"
												style="width: 25px; height: 25px;"> &nbsp;
										</a> &nbsp; --> 
										<a *ngIf="item['isLive'] || (!item['isLive'] && allDomainsLive)" type="button"
											(click)="actionOnJobExecution(item,'Abort')"> <img
												src="../assets/images/Abort.png" alt="Abort"
												style="width: 25px; height: 25px;">
										</a> <!-- <a *ngIf="!item['isLive'] && item['isJobAborted']" type="button"
											style="width: 25px; height: 25px;"> <i
												class="fa fa-spinner fa-spin"></i> &nbsp;
										</a> --></td>

									</tr>

								</tbody>
							</table>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.page-content -->
				</div>
			</div>
		</div>



	</div>
</body>








