<!--The content below is only a placeholder and can be replaced.-->
<br/>
<div class="col-md-6 col-md-offset-3"><alert></alert></div>
<div style="text-align:center">
  <div class="col-sm-12">
  <router-outlet></router-outlet>
  <div class="footer">
      <div class="footer-inner">
          <div class="footer-content" >
            <span style="float: left;font-family:Open Sans Regular">About &nbsp;&nbsp; Help &nbsp;&nbsp;Privacy</span>
              <span style="float: right;font-family: Open Sans Regular;font-size:12px">
                <span style="font-family:Open Sans Regular">&copy; 2018 A Deloitte licensed product. All rights reserved.</span>
              </span>&nbsp; &nbsp;
          </div>
      </div>
  </div>
