<div id="navbar" class="navbar navbar-default ace-save-stat" >
      <h3 style='text-align:center;font-size: 18px;width: 101%;color:black;font-family: Open Sans Regular'>
        ClinApps Platform
      </h3>
</div>

<div class="login-layout">
  <div class="main-container">
      <div class="main-content" style="padding: 38px">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                  <div class="login-container">
                      <div class="space-6"></div>
                      <div class="position-relative"  style="width: 295px;margin-top: 40%;">
                          <div id="login-box" class="login-box visible widget-box no-border">
                              <div class="widget-body" >
                                  <div class="widget-main">
                                      <div class="center" >
                                            <div class="space-6"></div>
                                            <div class="space-6"></div>
                                            <div class="space-6"></div>
                                      </div>
                                      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" >
                                            <fieldset>
                                              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                    <input type="text" class="form-control" placeholder="Enter your Login" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                                                    <i class="ace-icon fa fa-user"></i>
                                                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
  													                        </span>
												                        </label>
                                              </div>
                                              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                  <label class="block clearfix">
                        														<span class="block input-icon input-icon-right">
                                                      <input type="password" class="form-control" placeholder="Enter your Password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                                      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        															<i class="ace-icon fa fa-lock"></i>
                        														</span>
                      													  </label>
                                              </div>
                                              <div class="space"></div>
                                              <div class="clearfix && form-group">
                                                  <label class="inline" >
													<a class="lbl" style="line-height: 2.2;">Forgot Password?</a>
												  </label>
                                                  <button  class="width-35 pull-right btn btn-sm btn-primary">
													<i class="ace-icon fa fa-key"></i>Login
			  									  </button>
                                              </div>
                                            </fieldset>
                                          </form>

                                      </div><!-- /.widget-main -->
                              </div><!-- /.widget-body -->
                          </div><!-- /.login-box --><!-- /.signup-box -->
                      </div><!-- /.position-relative -->
                  </div>
              </div><!-- /.col -->
          </div><!-- /.row -->
      </div>
  </div>
  <hr style="border-width: 0px;height:2px;background-color: #074982;margin-top: 3px;padding-top:3px"/>

</div>
