<div class="main-container ace-save-state" id="main-container">

  <header-icons [configTypeImage]="configTypeImage" [configTypeTitle]="configTypeTitle" [configTypeIcons]="configTypeIcons" [studyInHeader]="searchBRStudy.brStudy" [domainInHeader]="searchBRStudy.brSdtmDomain"
    (iconClick)="addHandlerIconClick($event)"></header-icons>
  <div class="panel panel-default" style="height:410px;margin-left: 6px;border-radius: 10px;border-width: 1px;width: 99%;margin-top: 2px;padding-bottom: 3px;background: white;">
    <h3 class="row-label" style="height: 4%;margin-top: 7px;text-align:left;font-family:Open Sans Regular;font-size:12px;width:90%;">
      <span *ngIf="(getDomain() == null)">Select a study and SDTM domain to see business rules</span>
      <b><span *ngIf="(getDomain() != null)" style="font-size: 13px;">{{getDomain()}}</span></b>
    </h3>
    <hr style="margin-top: -6px;border-width: 2px;" />
    <div id="sidebar" class="col-sm-2" style="width: 214px;border-style: solid;border-width: 1px;border-color: #E5E5E5;margin-left:3px">

      <filter-icon-heading></filter-icon-heading>

      <div ng-if="paramId == studyInfo" style="overflow:auto; width:200px;height: 295px;" id="studyInfo" class="tab-pane in active">
        <!-- Study Info SEARCH -->
        <form name="form" #f="ngForm" novalidate>
          <fieldset>
            <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
              <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
                <li style="border-bottom: 0px;">
                  <a data-toggle="tab" (click)="statusDrp()" style="margin-top: 9px;margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                    Therapeutic Area<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                  </a>
                </li>
              </ul>
              <div *ngIf="statusShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;"
                id="form-field-select-1">
                <select class="form-control" id="form-field-select-1" name="brTherapeuticArea" [(ngModel)]="searchBRStudy.brTherapeuticArea"
                  (change)="filterStudies($event.target.value);">
                  <option value="undefined" selected disabled style="display: none;">Select an Option</option>
                  <option value="all">--All--</option>
                  <option *ngFor="let area of therapeuticAreas" value="{{area.therapeuticCode}}">{{area.therapeuticDescription}}</option>
                </select>
              </div>
            </div>

            <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
              <ul class="nav  nav-tabs" style="border-bottom: 0px;">
                <li style="border-bottom: 0px;">
                  <a data-toggle="tab" (click)="studyDrp()" style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                    Study Title* <span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                  </a>
                </li>
              </ul>
              <div *ngIf="studyShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;"
                id="form-field-select-1">
                <select class="form-control" id="form-field-select-1" name="brStudy" [(ngModel)]="searchBRStudy.brStudy"
                  (change)="filterDomains($event.target.value);">
                  <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                  <option *ngFor="let title of studyTitles" value="{{title}}">{{title}}</option>
                </select>

              </div>
            </div>


            <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
              <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
                <li style="border-bottom: 0px;">
                  <a data-toggle="tab" (click)="phaseDrp()" style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                    SDTM Domain*<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                  </a>
                </li>
              </ul>
              <div *ngIf="phaseShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;"
                id="form-field-select-1">
                <select class="form-control" id="form-field-select-1" name="brSdtmDomain" [(ngModel)]="searchBRStudy.brSdtmDomain"
                  (ngModelChange)="fetchTemplate(searchBRStudy)">
                  <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                  <option *ngFor="let domain of studyDomains" value="{{domain.domain}}">{{domain.domainLabel}}</option>
                </select>
              </div>
            </div>
            <!--<button (click)="clear()" style="color : white;background-color : rgb(7, 73, 130);border-color: white;font-family: Open Sans Regular;font-size: 12px;width: 70px;border-radius: 6px;margin-top: 10px;">Clear</button>-->
            <button (click)="clear()" style="height:24px;width: 50px;border-radius: 3px;font-size: 12px; font-family: Open Sans Regular;color : white;background-color : rgb(7, 73, 130);border-color: #074982;font-weight: 400;">Clear</button>
          </fieldset>
        </form>
      </div>
    </div>


    <div class="main-content">
      <div class="main-content-inner">
        <div class="page-content">
          <div class="row" style="margin-top: -23px;">
            <kendo-grid [data]="view | async" [height]="340" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true" (dataStateChange)="onStateChange(searchBRStudy, $event)" (edit)="editHandler($event, searchBRStudy)"
            (remove)="removeHandler($event)" (add)="addHandler('add',$event)" style="width: 99.5%;" [sortable]="true">
            <kendo-grid-column [style]="{'text-align':'center'}" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}"
              field="targetField" title="SDTM Variables"></kendo-grid-column>
              <kendo-grid-column [style]="{'text-align':'center'}" [width]="170" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}"
              field="transformation_type" title="Transformation Type"></kendo-grid-column>
            <kendo-grid-column [style]="{'text-align':'center'}" [width]="170" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}"
              field="transformation_logic" title="Transformation Logic"></kendo-grid-column>
            <kendo-grid-column [style]="{'text-align':'center'}" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}"
              field="sourceFile" title="Source File"></kendo-grid-column>
            <kendo-grid-column [style]="{'text-align':'center'}" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}"
              field="sourceField" title="Source Variable"></kendo-grid-column>
            <kendo-grid-column [style]="{'text-align':'center'}" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}"
              field="joinLogic" title="Join Logic"></kendo-grid-column>
            <kendo-grid-command-column [style]="{'text-align':'center'}" [width]="110" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}"
              title="Actions">
                <ng-template kendoGridCellTemplate>
                  <button kendoGridEditCommand [look]="outline">
                    <span class="k-icon k-i-pencil"></span>
                  </button>
                  <button kendoGridRemoveCommand>
                    <span class="k-icon k-i-trash"></span>
                  </button>


                </ng-template>
                <ng-template kendoGridNoRecordsTemplate>
                  <span *ngIf="searchBRStudy != null && searchBRStudy.brSdtmDomain != null && searchBRStudy.brStudy != null">No
                    records available.</span>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
            <div style="background-color:red">
              <business-rule-config-edit [model]="editBizDataItem" [isNew]="isNew" (save)="saveHandler($event)"
                (cancel)="cancelHandler()" (delete)="deleteHandler($event)" (fetch)="fetchHandler($event)">
              </business-rule-config-edit>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.page-content -->
      </div>
    </div>
  </div>
  <!-- /.main-content -->
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
  </a>

  <!-- /.main-container -->
</div>