
        <div style="margin-left: -2px;margin-top: -20px;padding-bottom: 1px;background-color: white">
            <h3  style="text-align:left;width:100%;font-family:Open Sans Regular;font-size:15px">
              <br> &nbsp; &nbsp; Data Lineage
           </h3>
          </div>
          <div style="margin-top: -10px">
              <carousel>
                  <!--  <slide>
                      <img src="../assets/images/1.PNG" alt="first slide">
                    </slide>-->
                    <slide>
                      <img src="../assets/images/2.PNG" alt="second slide">
                    </slide>
                    <slide>
                      <img src="../assets/images/3.PNG" alt="third slide">
                    </slide>
                    <slide>
                        <img src="../assets/images/4.PNG" alt="fourth slide">
                    </slide>
                    <slide>
                          <img src="../assets/images/5.PNG" alt="fifth slide">
                    </slide>
                    <slide>
                        <img src="../assets/images/6.PNG" alt="sixth slide">
                    </slide>
                     <!-- <slide>
                        <img src="../assets/images/7.PNG" alt="sventh slide">
                    </slide>-->
        </carousel>
      </div>


           
    
        
    
