
  <div id="navbar" class="navbar navbar-default ace-save-state">
        <h3 class="col-sm-8" style='font-size: 18px;margin-top: 16px;margin-bottom: -2px;width: 100.666%;color:white;text-align:left;font-family: Open Sans Regular'>
  <span style="color:black;font-size: 20px;">
    <img class="pull-left" style="margin-top: -6px;width: 35px;" src="assets/images/NewLogoImg.png" alt="Logo" />
    &nbsp;ClinApps
  </span>
  <span style="color:black;font-family:Open Sans Regular;font-weight: 100;font-size: 16px;"> - Path to SDTM</span>
  <span class="input-icon" style="padding-bottom: 6px;margin-left:709px">
    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
    <i class="ace-icon fa fa-search nav-search-icon"></i>
  </span>
  <span style="padding-left: 9px;padding-top: 20px; color:#E4E6E9">
  <i style="font-size:22px" class="ace-icon fa fa-gear"></i>
  </span>
  <span style="padding-left: 9px;color:#E4E6E9">
  <i style="font-size:22px" class="menu-icon fa fa-bell"></i>
  </span>
  <span dropdown style="padding-bottom: 3px;margin-top: 5px;padding-top: 20px">
    <button dropdownToggle type="button" class="dropdown-toggle" style="background-color: white;border-color: white;border-width: 0px">
    <img class="pull-right" style="width: 30px;margin-left: 5px;margin-bottom: -8px;" src="assets/images/avatars/UserImage1.png" />
       </button>
    <ul *dropdownMenu class="dropdown-menu pull-right" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">{{userName }}</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </span>
</h3>
</div>

