
<style>
* {
    box-sizing: border-box;
    width: 100%;
}

input[type=text], select, textarea {
    width: 80%;
    padding: 6px;
    border: 1px solid #ccc;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-right: 260px;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: -1px;
    text-align: right;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
}
}
</style>
<kendo-dialog *ngIf="active" (close)="closeForm()">
<kendo-dialog-titlebar style="background-color : #86bc25">
  <b style="color : black;font-size: 16px;font-family: serif;">{{ isNew ? 'Add new Study Details' : 'Edit Study Details' }}</b>
</kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm">
    <!--kendo-dialog title=""  (close)="close1()">
         <p style="margin: 30px; text-align: center;">Message</p>
    </kendo-dialog-->
    <div class="container">
    <div class="row">
      <div>
        <kendo-popup [offset]="offset" *ngIf="opened" >
        <div *ngIf="opened" style="color : #f31700;font-size:14px;font-family: serif;"><b> {{errorMsg}} </b></div>
      </kendo-popup>
      </div>
      <div class="col-25">
        <label for="studyID" style="font-size:14px;font-family: serif;font-weight:bold;color:black">Study ID:</label>
      </div>
      <div *ngIf="isNew" class="col-75">
        <input type="text" placeholder="Enter Study Number" formControlName="studyID" ><span style="color: red">*</span>
      </div>
      <div *ngIf="!(isNew)" class="col-75">
        <input type="text" readonly placeholder="Enter Study Number" formControlName="studyID" />&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="title" style="font-size:14px;font-family: serif;font-weight:bold;color:black">Title:</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="Enter Study Title" formControlName="title" />&nbsp;&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="phase" style="font-size:14px;font-family: serif;font-weight:bold;color:black">Phase:</label>
      </div>
      <div class="col-75">
        <select id="phase" style="font-size:14px;font-family: serif;color:grey" formControlName="phase" name="phase">
          <option [ngValue]="null" style="display: none;">Select an Option</option>
          <option value="Phase0">Phase 0</option>
          <option value="Phase1">Phase 1</option>
          <option value="Phase2">Phase 2</option>
          <option value="Phase3">Phase 3</option>
          <option value="Phase4">Phase 4</option>
        </select><span style="color: red">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-25" >
        <label for="status" style="font-size:14px;font-family: serif;font-weight:bold;color:black">Status:</label>
      </div>
      <div class="col-75">
        <select id="status" style="font-size:14px;font-family: serif;color:grey" formControlName="status" name="status" >
          <option [ngValue]="null" style="display: none;">Select an Option</option>
          <option value="active">Active</option>
          <option value="Inactive">Inactive</option>
        </select><span style="color: red">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="therapeuticArea" style="font-size:14px;font-family: serif;font-weight:bold;color:black">Therapeutic Area:</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="Enter Therapeutic Area" formControlName="therapeuticArea" />&nbsp;&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="source" style="font-size:14px;font-family: serif;font-weight:bold;color:black">Source:</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="Enter Source" formControlName="source" />&nbsp;&nbsp;
      </div>
    </div>
</div>

</form>
<kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)" style="color : black;font-family: serif;font-size: 16px;"><b>Cancel</b></button>
    <button class="k-button k-primary" style="color : black;font-size: 16px;background-color : #86bc25;font-family: serif;font-size: 18px;" [disabled]="!editForm.valid" (click)="onSave($event)"><b>Save</b></button>
</kendo-dialog-actions>
</kendo-dialog>
