<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>CDR</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.min.js"></script>

<style>
body {
    font-family: "Lato", sans-serif;
}


/* Style the sidenav links and the dropdown button */
 .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    background-color: white;
    padding-left: 0px;

}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.no-skin .nav-list > li {
    border-color: #E5E5E5;
    border-top:0px;
    border-bottom:0px;
}

.k-button {
    background-color: white;
    border-color: white;
    border-radius: 5px;
    border: none;
}
</style>
</head>
<body class="no-skin" style="line-height: 0">
    <div id="navbar" class="navbar navbar-default ace-save-state">
					<h3 class="col-sm-8" style='font-size: 18px;margin-top: 16px;margin-bottom: -2px;width: 100.666%;color:white;text-align:left;font-family: Open Sans Regular'>
              <span style="color:black;font-size: 20px;">
                <img class="pull-left" style="margin-top: -6px;width: 35px;" src="assets/images/NewLogoImg.png" alt="Logo" />
                &nbsp;ClinApps
              </span>
              <span style="color:black;font-family:Open Sans Regular;font-weight: 100;font-size: 16px;">– Path to SDTM</span>
              <span class="input-icon" style="padding-bottom: 6px;margin-left:709px">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
              </span>
              <span style="padding-left: 9px;padding-top: 20px; color:#E4E6E9">
              <i style="font-size:22px" class="ace-icon fa fa-gear"></i>
              </span>
              <span style="padding-left: 9px;color:#E4E6E9">
              <i style="font-size:22px" class="menu-icon fa fa-bell"></i>
              </span>
              <span dropdown style="padding-bottom: 3px;margin-top: 5px;padding-top: 20px">
                <button dropdownToggle type="button" class="dropdown-toggle" style="background-color: white;border-color: white;border-width: 0px">
                <img class="pull-right" style="width: 30px;margin-left: 5px;margin-bottom: -8px;" src="assets/images/avatars/UserImage1.png" />
                   </button>
                <ul *dropdownMenu class="dropdown-menu pull-right" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#">{{userName }}</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </span>
          </h3>
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <div>
			<ul class="nav nav-tabs padding-6 tab-color-blue background-blue"
				id="myTab4">
				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/home"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width:60px">Home</a>
				</li>
				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/searchModule"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 143px">Study
						Configuration</a></li>

				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/busRules"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 183px">Business
						Rule Configuration</a></li>

				<li [routerLinkActive]="['active']"><a data-toggle="tab"
					routerLink="/job"
					style="background-color: white; font-family: Open Sans Regular; font-size: 12px; width: 110px">Job
						Execution</a></li>
			</ul>
		</div>
        <hr style="margin-top: 1px;margin-bottom: 0px;border-top: 4px solid #074982;"/>
        <div class="panel panel-default" style="margin-left: 6px;border-radius: 10px;border-width: 1px;width: 99%;margin-top: 5px;padding-bottom: 3px;background: white;">
          <h3 class="row-label" style="text-align:left;width:97%;font-family:Open Sans Regular;font-size:14px">
            <img class="pull-left" style="margin-top: -9px;width: 40px;" src="assets/images/BussRules.png" alt="Logo" />&nbsp;
           <div *ngIf="(getDomain() != null)" style="margin-top: -24px;margin-bottom: -21px;">
            <label style="margin-top: 2px;font-family:Open Sans Regular;font-size:12px;margin-bottom: 0px;">Business Rule Configuration</label><br>
            <b><span style="font-size:17px" *ngIf="(getDomain() != null)">{{getStudy()}}</span></b>
            </div>
            <div *ngIf="(getDomain() == null)" style="margin-top: -13px;margin-bottom: -13px;">
                Business Rule Configuration  
           </div>
                  <span>
                    <img class="pull-right" style="margin-top: -6px;width: 27.5px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Notes" src="assets/images/RightImage1.png" alt="Logo" />&nbsp;
                  </span>
                  <span>
                    <img class="pull-right" style="margin-top: -6px;width: 27.5px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Import" (click)="addHandler('import',importTemplate)" src="assets/images/NewNote.png" alt="Logo" />&nbsp;
                  </span>
                  <span>
                    <img class="pull-right" style="margin-top: -6px;width: 27.5px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Download" src="assets/images/studyDownload.png" alt="Logo" />&nbsp;
                  </span>
                  <span>
                    <img class="pull-right" style="margin-top: -6px;width: 27.5px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Add Business Rule" (click)="addHandler('add',searchBRStudy)" src="assets/images/AddStudy.png" alt="Logo" />&nbsp;
                  </span>
                  <span *ngIf="(searchBRStudy != null && searchBRStudy.brStudy != undefined && searchBRStudy.brStudy != 'undefined' && searchBRStudy.brSdtmDomain != null && searchBRStudy.brSdtmDomain != 'undefined')">
                        <img [routerLink]="['/job', searchBRStudy.brStudy]" class="pull-right" style="margin-right: -137px;margin-top: -6px;width: 28.5px;font-family:Open Sans Regular;font-size:10px" data-toggle="tooltip" title="Job Execution for this study" src="assets/images/JobExeGrey.png" alt="Logo" />&nbsp;
                   </span>
          </h3>
        </div>
        <div class="panel panel-default" style="height:410px;margin-left: 6px;border-radius: 10px;border-width: 1px;width: 99%;margin-top: 2px;padding-bottom: 3px;background: white;">
          <h3 class="row-label" style="height: 4%;margin-top: 7px;text-align:left;font-family:Open Sans Regular;font-size:12px;width:90%;">
            <span *ngIf="(getDomain() == null)">Select a study and SDTM domain to see business rules</span>
            <b><span *ngIf="(getDomain() != null)" style="font-size: 13px;">{{getDomain()}}</span></b>
        </h3>
          <hr style="margin-top: -6px;border-width: 2px;"/>
        <a href="#" class="menu-toggler invisible" id="menu-toggler" data-target="#sidebar"></a>
        <div id="sidebar" class="col-sm-2" style="width: 214px;border-style: solid;border-width: 1px;border-color: #E5E5E5;margin-left:3px" >
            <ul class="nav nav-list" style="border-top: 0px;">
                <li>
                    <a href="#" class="dropdown-toggle" style="border-top: 0px;color: #074982" onclick="return false">
        							<i class="menu-icon fa fa-filter"></i>
        							<span class="menu-text" >
        								<a href="" style="font-family:Open Sans Regular;font-size:12px;color:#074982" ><b>Filter</b></a>
        							</span>
        							<b class="arrow fa fa-angle-down"></b>
        						</a>

                    <form name="form"  #f="ngForm" novalidate>
                      <fieldset>
                        <div class="" style="background-color: white;">
                          <div ng-if="paramId == studyInfo" style="overflow:auto; width:200px;height: 295px;" id="studyInfo" class="tab-pane in active">
                              <!-- Study Info SEARCH -->
                              <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
                                    <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
                                      <li style="border-bottom: 0px;">
                                          <a data-toggle="tab" (click)="statusDrp()"  style="margin-top: 9px;margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                                           Therapeutic Area<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                                          </a>
                                      </li>
                                    </ul>
                                    <div *ngIf="statusShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
                                       <select class="form-control"  id="form-field-select-1" name="brTherapeuticArea" [(ngModel)]="searchBRStudy.brTherapeuticArea" (change)="filterStudies($event.target.value);"> 
                                            <option value="undefined" selected disabled style="display: none;">Select an Option</option>
                                            <option value="all">--All--</option>
                                            <option *ngFor="let area of therapeuticAreas" value="{{area.therapeuticArea}}">{{area.therapeuticArea}}</option>
                                        </select>
                                  </div>
                                  </div>

                              <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
                                  <ul class="nav  nav-tabs" style="border-bottom: 0px;">
                                    <li style="border-bottom: 0px;">
                                        <a data-toggle="tab" (click)="studyDrp()"  style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                                          Study Title* <span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                                        </a>
                                    </li>
                                  </ul>
                                  <div *ngIf="studyShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
                                    <select class="form-control"  id="form-field-select-1" name="brStudy" [(ngModel)]="searchBRStudy.brStudy" (change)="filterDomains($event.target.value);">
                                        <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                                        <option *ngFor="let title of studyTitles" value="{{title}}">{{title}}</option>
                                    </select>
                                    
                                  </div>
                                </div>


                                <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
                                    <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
                                      <li style="border-bottom: 0px;">
                                          <a data-toggle="tab" (click)="phaseDrp()"  style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                                            SDTM Domain*<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                                          </a>
                                      </li>
                                    </ul>
                                    <div *ngIf="phaseShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
                                       <select class="form-control"  id="form-field-select-1" name="brSdtmDomain" [(ngModel)]="searchBRStudy.brSdtmDomain" (ngModelChange)="fetchTemplate(searchBRStudy)">
                                            <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                                            <option *ngFor="let domain of studyDomains" value="{{domain}}">{{domain}}</option>
                                        </select>
                                  </div>
                                  </div>
                                  <!--<button (click)="clear()" style="color : white;background-color : rgb(7, 73, 130);border-color: white;font-family: Open Sans Regular;font-size: 12px;width: 70px;border-radius: 6px;margin-top: 10px;">Clear</button>-->
                                  <button (click)="clear()" style="height:24px;width: 50px;border-radius: 3px;font-size: 12px; font-family: Open Sans Regular;color : white;background-color : rgb(7, 73, 130);border-color: #074982;font-weight: 400;">Clear</button>
                                </div>
                        </div>
                      </fieldset>
                    </form>
                </li>
            </ul>   <!-- /.nav-list -->
             </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                  <div class="row" style="margin-top: -23px;">
                    <kendo-grid
                        [data]="view | async"
                        [height]="340"
                        [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
                        [pageable]="true"
                        (dataStateChange)="onStateChange(searchBRStudy, $event)"
                        (edit)="editHandler($event, searchBRStudy)" (remove)="removeHandler($event)"
                        (add)="addHandler($event)"
                        style="width: 99.5%;"
                      >
                      <kendo-grid-column [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}" field="targetField" title="SDTM Variables"></kendo-grid-column>
                      <kendo-grid-column [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}" field="sourceFile"  title="Source File"></kendo-grid-column>
                      <kendo-grid-column [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}" field="sourceField" title="Source Variable"></kendo-grid-column>
                      <kendo-grid-column [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}" field="joinLogic" title="Join Logic"></kendo-grid-column>
                      <kendo-grid-column [width]="170" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}" field="transformation_type" title="Transformation Type"></kendo-grid-column>
                      <kendo-grid-column [width]="170" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}" field="transformation_logic" title="Transformation Logic"></kendo-grid-column>
                      <kendo-grid-command-column [width]="100" [headerStyle]="{'text-align':'center','font-family': 'Open Sans Regular','font-size': '12px','background-color': '#074982','color':'white'}" title="Actions">
                          <ng-template kendoGridCellTemplate>
                                     <button kendoGridEditCommand [look]="outline" >
                                            <span class="k-icon k-i-pencil"></span>
                                      </button>
                                      <button kendoGridRemoveCommand >
                                                <span class="k-icon k-i-trash"></span>
                                      </button>
                                     
                                         
                        </ng-template>
                        <ng-template kendoGridNoRecordsTemplate>
                                <span *ngIf="searchBRStudy != null && searchBRStudy.brSdtmDomain != null && searchBRStudy.brStudy != null">No records available.</span>
                        </ng-template>                    
                      </kendo-grid-command-column>
                    </kendo-grid>
                    <div style="background-color:red">
                    <kendo-grid-business-edit-form [model]="editBizDataItem" [isNew]="isNew"
                        (save)="saveHandler($event)"
                        (cancel)="cancelHandler()"
                        (delete)="deleteHandler($event)">
                    </kendo-grid-business-edit-form>
                    </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
        </div>
      </div>
        <!-- /.main-content -->
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
    </div>
    <!-- /.main-container -->
</body>
</html>
