<div class="col-sm-12 col-sm-offset-0">
  <div class="container" >
    <div class="row">
      <div class="span12 pull-right" >
        <h4 style="font-family: serif;"><b> Welcome {{userName}} | <button type="button" [routerLink]="['']" style="background-color:#012169;color: white;padding: 3px 7px">Logout</button></b></h4>
      </div>
    </div>
  </div>
</div>

  <div class="col-sm-12 col-sm-offset-0">

  <div class="container">

      <div class="span12 pull-left" >
        <h4 style="font-family: serif;" ><b style="font-size:14px">Please select a module -</b></h4> 
      </div>

  </div>
  <br/><br/><br/> 
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <button type="button" class="span3 btn-block btn-lg" routerLink="/searchModule" [routerLinkActive]="['active']">
         <!-- <img src="../assets/images/StudyInfo1.png" alt="Path to SDTM" style="width: 185px;height:100px;"> -->
      <span ><b style="font-size:16px"><br/>Path to SDTM</b></span> 
        </button>
       </div>
       <div class="col-xs-4">
         <button type="button" class="span3 btn-block btn-lg">
          <!-- <img src="../assets/images/JobExec1.png" alt="Medical Monitoring" style="width: 185px;height:100px;"> -->
          <br /><span ><b style="font-size:16px">Medical Monitoring</b></span>
         </button>
       </div>
       <div class="col-xs-4">
         <button type="button" class="btn-block btn-lg">
          <!-- <img src="../assets/images/PPM.png" alt="PPM" style="width: 185px;height:100px;"> -->
          <br /><span ><b style="font-size:16px">Product & Portfolio Management</b></span>
         </button>
       </div>
     </div>
     <div class="space"></div>
     <div class="row">
       <div class="col-xs-4">
         <button type="button" class="btn-block btn-lg">
         <!-- <img src="../assets/images/Alyticz.png" alt="Risk Based Monitoring" style="width: 185px;height:100px;"> -->
           <br /><span ><b style="font-size:16px">Risk Based Monitoring </b></span> 
         </button>
       </div>
       <div class="col-xs-4">
         <button type="button" class="btn-block btn-lg">
          <!--  <img src="../assets/images/DataQlt.png" alt="Others" style="width: 185px;height:100px;"> -->
           <br/><span ><b style="font-size:16px">&lt;&lt; Others &gt;&gt;</b></span>
         </button>
       </div>
     </div>
     <div class="space"></div>
   
   </div>
 </div>
