<form name="form"  #f="ngForm" novalidate>
  <fieldset>
    <div class="" style="background-color: white;">
      <div ng-if="paramId == studyInfo" style="overflow:auto; width:200px;height: 316px;" id="studyInfo" class="tab-pane in active">
          <!-- Study Info SEARCH -->
          <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
            <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
              <li style="border-bottom: 0px;">
                  <a data-toggle="tab" (click)="therapeuticAreaDrp()"  style="margin-top: 9px;margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                   Therapeutic Area<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                  </a>
              </li>
            </ul>
            <div *ngIf="therapeuticAreasShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
               <select class="form-control"  id="form-field-select-1" name="brTherapeuticArea" [(ngModel)]="searchStudy.brTherapeuticArea" (change)="filterStudies($event.target.value);fetch(searchStudy);"> 
                    <option value="undefined" selected disabled style="display: none;">Select an Option</option>
                    <option value="all">--All--</option>
                    <option *ngFor="let area of therapeuticAreas" value="{{area.therapeuticArea}}">{{area.therapeuticArea}}</option>
                </select>
          </div>
          </div>
          <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
              <ul class="nav  nav-tabs" style="border-bottom: 0px;">
                <li style="border-bottom: 0px;">
                    <a data-toggle="tab" (click)="studyDrp()"  style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                      Study Title <span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                    </a>
                </li>
              </ul>
              <div *ngIf="studyShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
                <select class="form-control"  id="form-field-select-1" name="studyID" [(ngModel)]="searchStudy.title" (ngModelChange)="fetch(searchStudy)">
                    <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                    <option value="all">--All--</option>
                    <option *ngFor="let matrixStudy of studyTitles" value="{{matrixStudy}}">{{matrixStudy}}</option>
                </select>
                  <!--<input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="Phase" [(ngModel)]="searchStudy.phase"> Phase 1<br>
                  <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="Phase" [(ngModel)]="searchStudy.phase"> Phase 2<br>
                  <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="Phase" [(ngModel)]="searchStudy.phase"> Phase 3
                  -->
              </div>
            </div>


            <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
                <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
                  <li style="border-bottom: 0px;">
                      <a data-toggle="tab" (click)="phaseDrp()"  style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                        Phase<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                      </a>
                  </li>
                </ul>
                <div *ngIf="phaseShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
                    <!--<input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="Phase" [(ngModel)]="searchStudy.phase"> Phase 1<br>
                    <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="Phase" [(ngModel)]="searchStudy.phase"> Phase 2<br>
                    <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="Phase" [(ngModel)]="searchStudy.phase"> Phase 3 -->
                    <select class="form-control"  id="form-field-select-1" name="phase" [(ngModel)]="searchStudy.phase" (ngModelChange)="fetch(searchStudy)">
                        <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                        <option value="all">--All--</option>
                        <option value="Phase 0">Phase 0</option> 
                        <option value="Phase 1">Phase 1</option>
                        <option value="Phase 2">Phase 2</option>
                        <option value="Phase 3">Phase 3</option>
                        <option value="Phase 4">Phase 4</option>
                    </select>
              </div>
              </div>

              <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
                  <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
                    <li style="border-bottom: 0px;">
                        <a data-toggle="tab" (click)="statusDrp()"  style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                          Status<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                        </a>
                    </li>
                  </ul>
                  <div *ngIf="statusShowOptions" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
                      <!--<input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="status" [(ngModel)]="searchStudy.status"> Active<br>
                      <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="status" [(ngModel)]="searchStudy.status"> In Active-->
                      <select class="form-control"  id="form-field-select-1" name="status" [(ngModel)]="searchStudy.status" (ngModelChange)="fetch(searchStudy)">
                          <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                          <option value="all">--All--</option> 
                          <option value="active">Active</option>
                          <option value="Inactive">In active</option>
                      </select>
                </div>
                </div>

                <div class="nav nav-tabs-flt padding-6" sytle="border-bottom: 0px;">
                    <ul class="nav  nav-tabs" style="border-bottom: 0px;" id="myTab4">
                      <li style="border-bottom: 0px;">
                          <a data-toggle="tab" (click)="sourceDrp()"  style="margin-left: 10px;margin-bottom:6px;padding-top: 3px;color:black;width:178px;background-color: #E4E6E9;height:24px;text-align:left;font-family: Open Sans Regular;font-size: 12px;">
                            Source<span class="pull-right"><i class="fa fa-angle-down" style="padding-top: 3px;"></i></span>
                          </a>
                      </li>
                    </ul>
                    <div *ngIf="sourceShowOptions" class="dropdown-container" style="border-bottom: 0px;margin-top: 2px;margin-left: 10px;font-family: Open Sans Regular;font-size:12px;width: 89%;height: 35px;" id="form-field-select-1" >
                      <!--  <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="source" [(ngModel)]="searchStudy.status"> Source 1<br>
                        <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="source" [(ngModel)]="searchStudy.status"> Source 2<br>
                        <input type="radio" style="width:10px;font-family:Open Sans Regular;font-size:12px" name="source" [(ngModel)]="searchStudy.status"> Source 3 -->
                        <select class="form-control"  id="form-field-select-1" name="source" [(ngModel)]="searchStudy.source" (ngModelChange)="fetch(searchStudy)">
                            <option value="undefined" disabled selected style="display: none;">Select an Option</option>
                            <option value="all">--All--</option> 
                            <option value="Source 1">Source 1</option>
                            <option value="Source 2">Source 2</option>
                            <option value="Source 3">Source 3</option>
                        </select> 
                  </div>
                  </div>
                  <button (click)="clear()" style="height:24px;width: 50px;border-radius: 3px;font-size: 12px; font-family: Open Sans Regular;color : white;background-color : rgb(7, 73, 130);border-color: #074982;font-weight: 400;">Clear</button>
      </div>
    </div>
  </fieldset>
</form>